build
install
results
benchmarks/cpu2017/
benchmarks/bind/cache/
benchmarks/bind/bind9/autom4te.cache/output.*
benchmarks/bind/bind9/autom4te.cache/traces.*
benchmarks/chromium
benchmarks/depot_tools
benchmarks/spec2006
benchmarks/spec2017
benchmarks/cpu-usage/**/*.o
benchmarks/cpu-usage/**/monitor
benchmarks/cpu-usage/**/*.txt
benchmarks/ripe64/fscanf_temp_file
